<h5>{{#link-to 'user' comment.by}}{{comment.by}}{{/link-to}}

<button {{action 'followUser' comment.by}} class='btn btn-default btn-xs'>Follow <span class="glyphicon glyphicon-user"></span></button>
<p>{{timestamp}} <button {{action 'saveComment' comment.id}} class='btn btn-default btn-xs'>Save <span class='glyphicon glyphicon-star'</button></p>
</h5>
<p>{{comment.title}}</p>
<p>{{{comment.text}}}</p>

{{#unless ignoreChildren}}
{{#each kid in comment.kids}}
  {{#unless kid.deleted}}
    <div>{{child-comment comment=kid offset=true}}</div>
  {{/unless}}
{{/each}}
{{/unless}}
