  <h5>{{#link-to 'user' comment.by}}{{comment.by}}{{/link-to}} <span class="glyphicon glyphicon-star"></span><p>{{timestamp}}</p>
  </h5>
  <p>{{comment.title}}</p>
  <p>{{{comment.text}}}</p>

  {{#unless ignoreChildren}}
  {{#each comment.kids}}
  <div>{{child-comment comment=this offset=true}}</div>
  {{/each}}
  {{/unless}}
