<ul class='list-unstyled'>
{{#each}}
  <li class='story'>

  <div class='score-info'>
    <span class='glyphicon glyphicon-arrow-up'></span>
    {{score}}
  </div>

  <div class='comment-info'>
    <span class='glyphicon glyphicon-comment'></span>
    {{kids.length}}
  </div>

  <div class='story-item'>
  {{#link-to 'item' this}}{{title}}{{/link-to}}
  (<a {{bind-attr href='url'}}>{{shortUrl}}</a>)
  <span class='story-details'>by {{by}} {{timestamp}}</span>
  </div>
  </li>
{{/each}}
</ul>
{{outlet}}
