<ul class='list-unstyled'>
{{#each item in controller}}
  <li class='story'>

  <div class='score-info'>
    <span class='glyphicon glyphicon-arrow-up'></span>
    {{item.score}}
  </div>

  <div class='comment-info'>
    <span class='glyphicon glyphicon-comment'></span>
    {{item.kids.length}}
  </div>

  <div class='story-item'>
    {{#link-to 'item' item}}{{item.title}}{{/link-to}}
    (<a {{bind-attr href='url'}}>{{item.shortUrl}}</a>)

    <span class='story-details'>by {{item.by}} {{item.timestamp}}</span>
  </div>

  <div class='story-actions'>
    {{#if hasSession}}
      <button type='button' {{action 'pinStory' item}} class='btn btn-default btn-xs'>
        <span class='glyphicon glyphicon-pushpin'></span> Pin
      </button>
    {{/if}}
  </div>
  </li>
{{/each}}
</ul>
{{outlet}}
