<h1>Hacker News Reader</h1>

<ul class='list-unstyled'>
{{#each}}
  <li>

  <div class='score-info'>
    <span class='glyphicon glyphicon-arrow-up'></span>
    {{score}}
  </div>

  <div class='comment-info'>
    <span class='glyphicon glyphicon-comment'></span> 
    {{kids.length}}
  </div>

  {{#link-to 'item' this}}{{title}}{{/link-to}} 
  (<a {{bind-attr href='url'}}>{{shortUrl}}</a>)
  </li>
{{/each}}
</ul>
{{outlet}}
