<h3>{{title}}</h1>
<h6>{{score}} points by {{#link-to 'user' by}}{{by}}{{/link-to}}</h6>
<div><a {{bind-attr href='url'}}>{{url}}</a></div>

{{#each kids}}
  {{child-comment comment=this}}
{{/each}}
{{outlet}}
