<h1>{{user.id}}</h1>
<div><p>{{{user.about}}}</p></div>

<h4>Recent activity</h4>

{{#each submissions}}
  {{#if this.parent}}
    {{child-comment comment=this.parent ignoreChildren=true}}
    {{child-comment comment=this ignoreChildren=true offset=true}}
  {{else}}
    {{child-comment comment=this ignoreChildren=true}}
  {{/if}}
{{/each}}


